<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page header-->
  <section class="bg-dark py-5">
    <div class="container pt-5 pb-lg-5">
      <!-- Breadcrumbs + page title-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
      <!-- Page title-->
      <div class="mb-lg-5 mx-auto text-center" style="max-width: 856px;">
        <h1 class="display-5 text-light mb-4 pb-lg-2">We help people find the <span class='text-primary'>dream job</span></h1>
        <p class="lead text-light opacity-70">Our mission is to provide the very best job search service and help job seekers and employers find each other as quickly as possible.</p>
      </div>
    </div>
  </section>
   <!-- Stats-->
   <section class="position-relative bg-white rounded-xxl-4 mb-5 py-md-3 zindex-5" style="margin-top: -30px;">
    <div class="container pt-5 pb-2 mb-4 mb-md-5">
      <div class="row row-cols-md-4 row-cols-2 g-4 text-center">
        <div class="col border-end"><i class="fi-like mb-3 fs-1 text-muted"></i>
          <div class="h1 mb-1 lh-1"><span [CountTo]="1" class="counter-value" [from]="0" [duration]="1"></span>,<span [CountTo]="2" class="counter-value" [from]="0" [duration]="1"></span> mln</div>Job applications
        </div>
        <div class="col border-end-md"><i class="fi-file mb-3 fs-1 text-muted"></i>
          <div class="h1 mb-1 lh-1"><span [CountTo]="8" class="counter-value" [from]="0" [duration]="1"></span>K</div>Resumes posted
        </div>
        <div class="col border-end"><i class="fi-briefcase mb-3 fs-1 text-muted"></i>
          <div class="h1 mb-1 lh-1"><span [CountTo]="5" class="counter-value" [from]="0" [duration]="1"></span>K</div>Jobs posted
        </div>
        <div class="col"><i class="fi-users mb-3 fs-1 text-muted"></i>
          <div class="h1 mb-1 lh-1"><span [CountTo]="10" class="counter-value" [from]="0" [duration]="1"></span>K</div>Active members
        </div>
      </div>
    </div>
  </section>

   <!-- Help Center CTA-->
   <section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row gy-4 align-items-md-center">
      <div class="col-md-6"><img src="assets/img/job-board/illustrations/steps.svg" alt="Illustration"></div>
      <div class="col-lg-5 offset-lg-1 col-md-6">
        <h2 class="mb-4">Finding a new job is now even easier</h2>
        <p class="mb-4 pb-3 fs-lg">Et quis dictum malesuada phasellus feugiat laoreet lacus. Imperdiet sed a dignissim mauris amet bibendum. Non odio molestie feugiat sed ullamcorper nunc. Donec integer mi pellentesque platea. Scelerisque cras tristique auctor pharetra neque, elementum tellus sit. Lorem semper et massa varius sit eget. Sed adipiscing pellentesque.</p><a class="btn btn-lg btn-primary rounded-pill w-sm-auto w-100" routerLink="/pages/help-center">Help Center<i class="fi-chevron-right ms-2"></i></a>
      </div>
    </div>
  </section>

  <!-- How it works-->
  <section class="container mb-5 pb-2 pb-lg-5">
    <h2 class="h3 mb-4 pb-sm-2">How it works</h2>
    <!-- Grid card-->
    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 gy-sm-5 gy-3">
      <!-- Card item-->
      <div class="col" *ngFor="let data of workData">
        <div class="card border-0 shadow-sm position-relative h-100">
          <div class="card-body">
            <div class="h2 mb-2 text-primary">{{data.id}}</div>
            <h3 class="h5 card-title mb-2">{{data.title}}</h3>
            <p class="card-text fs-sm">{{data.content}}</p>
          </div>
          <!-- Arrow-->
          <ng-template [ngIf]="data.svg === 'true'">

            <svg class="position-absolute top-0 end-0 mt-n2 d-sm-block d-none" xmlns="http://www.w3.org/2000/svg" width="78" height="30" fill="none" style="transform: translateY(-100%) translateX(70%);">
              <path d="M77.955 14.396c.128-2.86 0-4.67-.576-4.745s-1.279 1.607-2.11 4.378l-1.279 4.897-.563 2.683c-.612-1.434-1.352-2.81-2.212-4.113-2.718-4.072-6.226-7.569-10.321-10.288C54.205 2.687 46.332.186 38.233.008c-8.823-.165-17.491 2.305-24.874 7.087C6.581 11.549 2.118 17.395.66 22.191.033 24.057-.15 26.04.123 27.987c.243 1.367.627 2.037.755 2.012.396 0-.396-3.025 1.522-7.264s6.394-9.339 12.789-13.123c6.905-4.018 14.838-5.974 22.841-5.631 3.811.182 7.574.924 11.164 2.202 7.323 2.623 13.717 7.296 18.403 13.452 1.061 1.417 1.816 2.531 2.404 3.417l-1.637-.278-5.295-1.012c-3.031-.569-4.988-.848-5.179-.392s1.419 1.544 4.335 2.759a47.66 47.66 0 0 0 5.269 1.772c1.023.278 2.097.544 3.21.772.588.127 1.1.228 1.765.342.541.152 1.109.184 1.663.094a3.86 3.86 0 0 0 1.547-.613 2.76 2.76 0 0 0 .934-1.265c.088-.252.156-.51.205-.772l.09-.595.23-1.544.384-2.949c.217-1.873.371-3.569.435-5.062" fill="#fd5631"></path>
            </svg>
          </ng-template>
        </div>
      </div>
    </div>
  </section>

  <!-- Reviews-->
  <section class="container pt-lg-2 pb-5 mb-md-4 mb-lg-5">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0"><img class="d-block mx-auto" src="assets/img/job-board/illustrations/reviews.svg" alt="Illustration"></div>
      <div class="col-lg-1 d-none d-lg-block">
        <hr class="hr-vertical mx-auto">
      </div>
      <div class="col-md-8 col-lg-7">

        <swiper [config]="review" class="mb-5">
          <div class="swiper-slide"  *ngFor="let data of reviewData">
            <div class="p-3">
              <div class="card border-0 shadow-sm">
                <blockquote class="blockquote card-body">
                  <p>{{data.content}}</p>
                  <footer class="d-flex align-items-center"><img src="{{data.profile}}" width="56" alt="Zalo Logo">
                    <div class="ps-3">
                      <h6 class="fs-base mb-0">{{data.name}}</h6>
                      <div class="text-muted fw-normal fs-sm">{{data.position}}</div>
                    </div>
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </section>

   <!-- FAQ-->
   <section class="container"><img class="rounded-3" src="assets/img/job-board/about/faq.jpg" alt="Cover">
    <div class="col-md-10 mx-md-auto mx-3 mt-sm-0 mt-5 py-sm-5 py-4 px-0 rounded-3 bg-light shadow-sm" style="transform: translateY(-100px);">
      <div class="col-md-10 mx-md-auto mx-3 py-lg-4 px-0">
        <h2 class="h3 mb-4 pb-lg-2 text-center">Frequently asked questions</h2>

        <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
          <ngb-panel id="static-1">
              <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                Getting started: the basics
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="accordion-body p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, quaerat. Corporis pariatur cum dolorem ullam at nulla ex doloribus, ratione quos repellendus aliquid aspernatur obcaecati adipisci maxime id, sed cupiditate.</div>
              </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2">
            <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
              Will our data be private and safe?
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion-body p-0">Eros aliquam egestas eu sit faucibus facilisi urna, senectus id. Morbi pellentesque at molestie et. Et molestie nunc massa, donec eget viverra. Sodales nisl vitae gravida pretium enim cursus pharetra massa nisl. Auctor porta dolor nulla elementum malesuada ut etiam neque, enim. Nisi, eget viverra platea fringilla aliquet eros varius tellus nibh.</div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-3">
            <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
              Should I apply for a job even if I don't have the specified experience?
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion-body p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ut accusantium ea a ipsa, aliquam nemo aperiam porro deserunt aspernatur sequi amet voluptatibus, fugiat nobis. Atque voluptatibus quibusdam placeat voluptas?</div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-4">
            <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
              What exactly is a personal brand and why do I need one?
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion-body p-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui nulla unde saepe, similique non rem est adipisci accusamus minima mollitia repellat, illum eius quidem molestias nam illo expedita iste.</div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-5">
            <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
              What are the most important things to include in my resume?
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion-body p-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed itaque ab dicta sint, quam fugiat culpa aliquid, labore est vero explicabo, non voluptas at perspiciatis omnis impedit libero possimus! Alias!</div>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-6">
            <ng-template ngbPanelTitle class="accordion-header" id="heading-1" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
              How long should I make my cover letter and/or resume?
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="accordion-body p-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius iste voluptas ducimus! Sequi, expedita est. Accusamus, quaerat nulla! Ex exercitationem iure voluptatum mollitia amet, corporis sit ab temporibus et consectetur.</div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </section>

  <!-- Brands-->
  <section class="container pb-5 mb-md-3 mt-sm-n4 mt-n5">
    <h2 class="h3 text-center text-sm-start mb-sm-4">We are proud to work with</h2>
    <swiper [config]="brand" class="mb-5" class="pagination-hide">
      <div class="swiper-slide"  *ngFor="let data of brandData">
        <div class="pb-1"><a class="swap-image" routerLink="/account/employer"><img class="swap-to" src="{{data.image}}" width="196" alt="Microsoft"><img class="swap-from" src="{{data.nimage}}" width="196" alt="Microsoft"></a></div>
      </div>
    </swiper>
  </section>

   <!-- Blog-->
   <section class="container pb-4 pb-md-5 mb-2 mb-md-3">
    <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-sm-2">
      <h2 class="h3 mb-sm-0">Online journal by top HRs</h2><a class="btn btn-link fw-normal p-0" routerLink="/pages/blog-grid">Go to blog<i class="fi-arrow-long-right ms-2"></i></a>
    </div>
    <div class="row">
      <div class="col-md-5 mb-4">
        <article class="card card-hover border-0 shadow-sm h-100"><a class="card-img-top overflow-hidden position-relative" routerLink="/pages/single-blog"><span class="badge bg-faded-info position-absolute top-0 end-0 fs-sm rounded-pill m-3">New</span><img class="d-block" src="assets/img/job-board/blog/03.jpg" alt="Image"></a>
          <div class="card-body pb-3"><a class="fs-xs text-uppercase text-decoration-none" href="javascript:void(0);">Guides</a>
            <h3 class="fs-base pt-1 mb-2"><a class="nav-link" routerLink="/pages/single-blog">How to Hire World-Class Engineers</a></h3>
            <p class="fs-sm text-muted m-0">Nunc, hac augue ante in facilisi id. Consectetur egestas orci, arcu ac tellus. Morbi orci, nunc dictum...</p>
          </div><a class="card-footer d-flex align-items-center text-decoration-none border-top-0 pt-0 mb-1" href="javascript:void(0);"><img class="rounded-circle" src="assets/img/avatars/16.png" width="44" alt="Avatar">
            <div class="ps-2">
              <h6 class="fs-sm text-nav lh-base mb-1">Bessie Cooper</h6>
              <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 me-1"></i>May 23</span><span><i class="fi-chat-circle opacity-70 me-1"></i>4 comments</span></div>
            </div></a>
        </article>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-6 mb-4">
            <article class="card card-hover border-0 shadow-sm h-100"><a class="card-img-top overflow-hidden position-relative" routerLink="/pages/single-blog"><img class="d-block" src="assets/img/job-board/blog/04.jpg" alt="Image"></a>
              <div class="card-body pb-3"><a class="fs-xs text-uppercase text-decoration-none" href="javascript:void(0);">Guides</a>
                <h3 class="fs-base pt-1 mb-2"><a class="nav-link" routerLink="/pages/single-blog">How to Choose Your First Job In Tech</a></h3>
              </div><a class="card-footer d-flex align-items-center text-decoration-none border-top-0 pt-0 mb-1" href="javascript:void(0);"><img class="rounded-circle" src="assets/img/avatars/18.png" width="44" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-sm text-nav lh-base mb-1">Annette Black</h6>
                  <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 me-1"></i>May 21</span><span><i class="fi-chat-circle opacity-70 me-1"></i>No comments</span></div>
                </div></a>
            </article>
          </div>
          <div class="col-sm-6 mb-4">
            <article class="card card-hover border-0 shadow-sm h-100"><a class="card-img-top overflow-hidden position-relative" routerLink="/pages/single-blog"><img class="d-block" src="assets/img/job-board/blog/05.jpg" alt="Image"></a>
              <div class="card-body pb-3"><a class="fs-xs text-uppercase text-decoration-none" href="javascript:void(0);">Tips &amp; Advice</a>
                <h3 class="fs-base pt-1 mb-2"><a class="nav-link" routerLink="/pages/single-blog">15 Tips for a Better Resume</a></h3>
              </div><a class="card-footer d-flex align-items-center text-decoration-none border-top-0 pt-0 mb-1" href="javascript:void(0);"><img class="rounded-circle" src="assets/img/avatars/17.png" width="44" alt="Avatar">
                <div class="ps-2">
                  <h6 class="fs-sm text-nav lh-base mb-1">Ralph Edwards</h6>
                  <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 me-1"></i>May 19</span><span><i class="fi-chat-circle opacity-70 me-1"></i>1 comment</span></div>
                </div></a>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- CTA-->
   <section class="container pt-lg-4 pb-5 mb-md-4 mb-lg-5 text-center">
    <h2 class="pb-4">The fastest way to find what you need</h2><a class="btn btn-primary btn-lg rounded-pill ms-sm-auto" href="javascript:void(0);">Get started<i class="fi-chevron-right fs-sm ms-2"></i></a>
  </section>

</main>
<!-- Footer-->
<app-footer></app-footer>

