<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page container-->
  <div class="container mt-5 mb-md-4 py-5">
      <!-- Title + Breadcrumb-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

      <!-- Post title + meta--><a class="nav-link d-inline-block fw-normal text-uppercase px-0 mb-2" href="javascript:void(0);">Tips &amp; Advice</a>
      <h1 class="h2 mb-4">How Real Estate Drone Photography Can Elevate Your Listing?</h1>
      <div class="mb-4 pb-1">
        <ul class="list-unstyled d-flex flex-wrap mb-0 text-nowrap">
          <li class="me-3"><i class="fi-calendar-alt me-2 mt-n1 opacity-60"></i>Mar 18</li>
          <li class="me-3 border-end"></li>
          <li class="me-3"><i class="fi-clock me-2 mt-n1 opacity-60"></i>4 min read</li>
          <li class="me-3 border-end"></li>
          <li class="me-3"><a class="nav-link-muted" href="javascript:void(0);" data-scroll (click)="inView(comments)"><i class="fi-chat-circle me-2 mt-n1 opacity-60"></i>3 comments</a></li>
        </ul>
      </div>

      <!-- Post content-->
      <div class="mb-4 pb-md-3"><img class="rounded-3" src="assets/img/real-estate/blog/single.jpg" alt="Post image"></div>
      <div class="row">
        <div class="col-lg-2 col-md-1 mb-md-0 mb-4 mt-md-n5">
          <!-- Sharing-->
          <div class="sticky-top py-md-5 mt-md-5">
            <div class="d-flex flex-md-column align-items-center my-2 mt-md-4 pt-md-5">
              <div class="d-md-none fw-bold text-nowrap me-2 pe-1">Share:</div>
              <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle mb-md-2 me-md-0 me-2" href="javascript:void(0);" placement="top" ngbTooltip="Share with Facebook"><i class="fi-facebook"></i></a>
              <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle mb-md-2 me-md-0 me-2" href="javascript:void(0);" placement="top" ngbTooltip="Share with Twitter"><i class="fi-twitter"></i></a>
              <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle mb-md-2 me-md-0 me-2" href="javascript:void(0);" placement="top" ngbTooltip="Share with LinkedIn"><i class="fi-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-10">
          <!-- Author-->
          <div class="mb-4 pb-md-3"><a class="d-flex align-items-center text-body text-decoration-none" href="javascript:void(0);"><img class="rounded-circle" src="assets/img/avatars/32.jpg" width="80" alt="Kristin Watson">
              <div class="ps-3">
                <h2 class="h6 mb-1">Kristin Watson</h2><span class="fs-sm">Imperial Property Group Agent</span>
              </div></a></div>
          <!-- Post content-->
          <h6>Feugiat eget gravida urna placerat posuere pulvinar. Id nibh hendrerit semper urna consequat. Mauris elit tellus risus ultricies ut consequat. Tempor tellus imperdiet nec velit fames pellentesque sed sed arcu. Neque quam id pellentesque in diam in.</h6>
          <p>Purus ornare nisl est nec. Nunc, enim tellus pretium viverra quisque id in metus volutpat. Urna eget velit venenatis, commodo eget massa. Magna donec dictum cras nullam platea. Diam rhoncus massa lectus pellentesque tristique. Amet commodo, egestas vitae bibendum. Volutpat elit condimentum integer tortor porttitor justo vel lobortis risus. Lacinia pellentesque fermentum tellus orci mauris, velit duis eget. Commodo justo, hac ligula molestie felis, iaculis. Vitae dui at ante orci, dictum fusce. Urna, sed urna fringilla faucibus euismod aliquet nec. Quis libero, fermentum amet eu, condimentum auctor. Sit vel ipsum sem tempus gravida et. Scelerisque blandit orci, est quis. Nisi, tellus amet est nascetur habitant faucibus ornare et vivamus.</p>
          <p>Convallis massa nunc, tempus eget egestas sollicitudin mauris. Purus donec sed neque arcu, dictumst tortor nisi, odio. A sit lectus sem velit orci, rhoncus pharetra facilisis. Cras sodales a, dui pellentesque enim odio rutrum leo. Auctor viverra sit sit ut. Massa, elit venenatis, ultrices viverra at sagittis, velit. Cursus tempus phasellus consectetur suspendisse a blandit pellentesque diam neque. Massa est nibh congue elit amet, diam faucibus. Morbi non est semper ullamcorper quam iaculis at.</p>
          <blockquote class="blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <footer class="fs-base">— Annette Black</footer>
          </blockquote>
          <p>Praesent sed pulvinar posuere nisl tincidunt. Iaculis sit quam magna congue. Amet vel non aliquet habitasse. Egestas erat odio et, eleifend turpis etiam blandit interdum. Nec augue ut senectus quisque diam quis. At augue accumsan, in bibendum. A eget et, eget quisque egestas netus vel. Velit, aliquet turpis convallis ullamcorper. Scelerisque sagittis condimentum pretium in vitae etiam lacinia quis amet. Porttitor consequat, sollicitudin vivamus pharetra nibh faucibus neque, viverra. Praesent amet sed lacus vitae.</p>
          <p>Velit parturient tellus tellus, congue pulvinar tellus viverra. In cum massa mattis ac. Amet vitae massa ut mi etiam. Auctor aliquam tristique felis donec eu sit nisi. Accumsan mauris eget convallis mattis sed etiam scelerisque.</p>
          <!-- Post tags-->
          <div class="d-flex align-items-center my-md-5 my-4 py-md-4 py-3 border-top">
            <div class="fw-bold text-nowrap mb-2 me-2 pe-1">Tags:</div>
            <div class="d-flex flex-wrap"><a class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2" href="javascript:void(0);">Tutorial</a><a class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal me-2 mb-2" href="javascript:void(0);">Jobs</a><a class="btn btn-xs btn-outline-secondary rounded-pill fs-sm fw-normal mb-2" href="javascript:void(0);">Business</a></div>
          </div>
          <!-- Comments-->
          <div class="mb-4 mb-md-5" id="comments" #comments>
            <h3 class="mb-4 pb-2">3 comments</h3>
            <!-- Comment-->
            <div class="border-bottom pb-4 mb-4">
              <p>Elementum ut quam tincidunt egestas vitae elit, hendrerit. Ullamcorper nulla amet lobortis elit, nibh condimentum enim. Aliquam felis nisl tellus sodales lectus dictum tristique proin vitae. Odio fermentum viverra tortor quis reprehenderit in voluptate velit.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="assets/img/avatars/05.jpg" width="48" alt="Daniel Adams">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Daniel Adams</h6><span class="text-muted fs-sm">3 days ago</span>
                  </div>
                </div>
                <button class="btn btn-link btn-sm" type="button"><i class="fi-reply fs-lg me-2"></i><span class="fw-normal">Reply</span></button>
              </div>
              <!-- Reply to comment-->
              <div class="border-start border-4 ps-4 ms-4 mt-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="assets/img/avatars/06.jpg" width="48" alt="Kristin Watsons">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Kristin Watsons<span class="badge bg-info rounded-pill fs-xs ms-2">Author</span></h6><span class="text-muted fs-sm">2 days ago</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Comment-->
            <div class="pb-4">
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="assets/img/avatars/04.jpg" width="48" alt="Darrel Steward">
                  <div class="ps-2">
                    <h6 class="fs-base mb-0">Darrel Steward</h6><span class="text-muted fs-sm">1 week ago</span>
                  </div>
                </div>
                <button class="btn btn-link btn-sm" type="button"><i class="fi-reply fs-lg me-2"></i><span class="fw-normal">Reply</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Comment form-->
      <div class="card py-md-4 py-3 shadow-sm">
        <div class="card-body col-lg-8 col-md-10 mx-auto px-md-0 px-4">
          <h3 class="mb-4 pb-sm-2">Leave your comment</h3>
          <form class="needs-validation row gy-md-4 gy-3" novalidate (ngSubmit)="validSubmit()" [formGroup]="validationform">
            <div class="col-sm-6">
              <label class="form-label" for="comment-name">Name</label>
              <input class="form-control form-control-lg" type="text" id="comment-name" placeholder="Enter your name" required formControlName="name" [ngClass]="{'is-invalid': submit && form['name'].errors}">
              <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="comment-email">Email</label>
              <input class="form-control form-control-lg" type="email" id="comment-email" placeholder="Enter your email" required formControlName="email" [ngClass]="{'is-invalid': submit && form['email'].errors}">
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="col-12">
              <label class="form-label" for="comment-text">Comment</label>
              <textarea class="form-control form-control-lg" id="comment-text" rows="4" placeholder="Type comment here" required formControlName="comment" [ngClass]="{'is-invalid': submit && form['comment'].errors}"></textarea>
              <div class="invalid-feedback">Please type your comment.</div>
            </div>
            <div class="col-12 py-2">
              <button class="btn btn-lg btn-primary" type="submit">Post comment</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</main>

<!-- Footer-->
<app-footer></app-footer>

