<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page container-->
  <section class="py-5">
    <div class="container pt-5 pb-lg-5">
      <!-- Title + Breadcrumb-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
      <div class="row gy-4">
        <div class="col-lg-4 col-md-5 mb-md-0 mb-2">
          <div class="card border-0 bg-secondary p-md-3 p-1">
            <div class="card-body">
              <h1 class="mb-4">Contacts</h1>
              <div class="mb-md-5 mb-4"><a class="nav-link fw-normal d-flex align-items-start mb-3 p-0" href="mailto:example@email.com"><i class="fi-mail mt-1 me-2 pe-1 text-primary"></i>example@email.com</a><a class="nav-link fw-normal d-flex align-items-start mb-3 p-0" href="tel:4065550120"><i class="fi-device-mobile mt-1 me-2 pe-1 text-primary"></i>(406) 555-0120</a><a class="nav-link fw-normal d-flex align-items-start mb-3 p-0" href="javascript:void(0);"><i class="fi-map-pin mt-1 me-2 pe-1 text-primary"></i>4140 Parker Rd. Allentown, <br> New Mexico 31134</a><span class="nav-link fw-normal d-flex align-items-start mb-3 p-0"><i class="fi-clock mt-1 me-2 pe-1 text-primary"></i>Mon – Fri: 10:00 am – 20:00 pm</span></div>
              <h3 class="h6 mb-1">Follow us:</h3><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mt-2 me-2" href="javascript:void(0);"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mt-2 me-2" href="javascript:void(0);"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mt-2 me-2" href="javascript:void(0);"><i class="fi-instagram"></i></a><a class="btn btn-icon btn-light-primary btn-xs rounded-circle shadow-sm mt-2 me-2" href="javascript:void(0);"><i class="fi-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-7 offset-lg-1">
          <h2 class="h4 mb-4 pb-md-2">Perhaps you can find an answer to your question here:</h2>
          <div class="mb-md-4 mb-3 fs-sm">
            <h6 class="mb-md-3 mb-2 fs-base">Should I apply for a job even if I don't have the specified experience?</h6>
            <p>Blandit adipiscing duis sit tellus rhoncus, amet, sit vitae gravida. Tincidunt placerat ultrices eu, senectus vitae accumsan massa in. Ultricies imperdiet duis feugiat lorem. Pretium turpis faucibus sit urna nisi lorem interdum. Diam semper et ac neque ac.</p>
          </div>
          <div class="mb-md-4 mb-3 fs-sm">
            <h6 class="mb-md-3 mb-2 fs-base">What are the most important things to include in my resume?</h6>
            <p>Amet posuere imperdiet placerat volutpat elit tellus lectus. Et sit massa volutpat id condimentum velit risus quam ut. Fames ut pulvinar ut ac sed elementum sed. Bibendum interdum ut sit ullamcorper arcu. Proin pharetra proin mi ultricies diam sit. Arcu faucibus ut adipiscing odio habitasse at ut amet maecenas. Suscipit eget mi felis eu mi scelerisque. Mattis condimentum ut eget eu, aliquam id blandit urna, mattis.</p>
          </div>
          <div class="mb-md-4 mb-3 fs-sm">
            <h6 class="mb-md-3 mb-2 fs-base">How long should I make my cover letter and/or resume?</h6>
            <p>Morbi egestas quam ultrices fames dapibus proin amet, placerat cum. Feugiat nibh nulla pellentesque viverra elementum nibh tortor orci. A vitae hac id accumsan. At lacus velit donec vivamus. Auctor pharetra, ipsum aliquam lacus morbi at feugiat nullam. In eu tellus elementum varius tristique. Varius pretium vestibulum feugiat dapibus tempor amet, ultricies. At urna diam viverra sed suspendisse. In at adipiscing nisl at ultrices curabitur tempor.</p>
          </div>
          <div class="mb-md-4 mb-3 fs-sm">
            <h6 class="mb-md-3 mb-2 fs-base">Will our data be private and safe?</h6>
            <p>Enim at cursus id malesuada pharetra, mollis nam. Amet quam viverra est lacus habitant feugiat arcu. Habitant nunc, nibh leo sem quisque nunc vel. Suspendisse mattis risus iaculis orci. Nisl neque volutpat gravida nec vel. Mauris lacus nisl facilisis aliquet gravida. Et nisi, pretium ultricies augue placerat tempus. Sed felis non penatibus id blandit velit nibh.</p>
          </div>
          <div class="pt-md-3 pt-2"><a class="btn btn-primary rounded-pill" routerLink="/pages/help-center">Go to help center<i class="fi-chevron-right ms-2"></i></a></div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Footer-->
<app-footer></app-footer>

