<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>

   <!-- Page header-->
   <section class="container pt-5 mt-5">
    <!-- Breadcrumb-->
    <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
    <h1 class="h2 mb-2">Pine Apartments</h1>
    <p class="mb-2 pb-1 fs-lg">28 Jackson Ave Long Island City, NY 67234</p>
    <!-- Features + Sharing-->
    <div class="d-flex justify-content-between align-items-center">
      <ul class="d-flex mb-4 list-unstyled">
        <li class="me-3 pe-3 border-end"><b class="me-1">4</b><i class="fi-bed mt-n1 lead align-middle text-muted"></i></li>
        <li class="me-3 pe-3 border-end"><b class="me-1">2</b><i class="fi-bath mt-n1 lead align-middle text-muted"></i></li>
        <li class="me-3 pe-3 border-end"><b class="me-1">2</b><i class="fi-car mt-n1 lead align-middle text-muted"></i></li>
        <li><b>56 </b>sq.m</li>
      </ul>
      <div class="text-nowrap">
        <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" placement="top" ngbTooltip="Add to Wishlist"><i class="fi-heart"></i></button>
        <div class="dropdown d-inline-block" placement="top" ngbTooltip="Share">
          <button class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" type="button" data-bs-toggle="dropdown"><i class="fi-share"></i></button>
          <div class="dropdown-menu dropdown-menu-end my-1">
            <button class="dropdown-item" type="button"><i class="fi-facebook fs-base opacity-75 me-2"></i>Facebook</button>
            <button class="dropdown-item" type="button"><i class="fi-twitter fs-base opacity-75 me-2"></i>Twitter</button>
            <button class="dropdown-item" type="button"><i class="fi-instagram fs-base opacity-75 me-2"></i>Instagram</button>
          </div>
        </div>
      </div>
    </div>
  </section>

   <!-- Gallery-->
   <section class="container overflow-auto mb-4 pb-3" data-simplebar>
    <div class="row g-2 g-md-3 gallery" data-thumbnails="true" style="min-width: 30rem;">
      <div class="col-8">
        <a class="gallery-item rounded rounded-md-3" href="javascript:void(0);" (click)="customOpen(1)">
          <img src="assets/img/real-estate/single/01.jpg" alt="Gallery thumbnail">
        </a>
      </div>
      <div class="col-4">
        <a class="gallery-item rounded rounded-md-3 mb-2 mb-md-3" href="javascript:void(0);" (click)="customOpen(1)">
          <img src="assets/img/real-estate/single/02.jpg" alt="Gallery thumbnail">
        </a>
        <a class="gallery-item rounded rounded-md-3" href="javascript:void(0);" (click)="customOpen(2)">
          <img src="assets/img/real-estate/single/03.jpg" alt="Gallery thumbnail">
        </a>
      </div>
      <div class="col-12">
        <div class="row g-2 g-md-3">
          <div class="col" *ngFor="let image of _album; let i=index">
            <a class="gallery-item rounded-1 rounded-md-2" href="javascript:void(0);" (click)="open(i)">
              <img [src]="image.thumb" alt="Gallery thumbnail">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Post content-->
   <section class="container mb-5 pb-1">
    <div class="row">
      <div class="col-md-7 mb-md-0 mb-4"><span class="badge bg-success me-2 mb-3">Verified</span><span class="badge bg-info me-2 mb-3">New</span>
        <h2 class="h3 mb-4 pb-4 border-bottom">$2,000<span class="d-inline-block ms-1 fs-base fw-normal text-body">/month</span></h2>
        <!-- Overview-->
        <div class="mb-4 pb-md-3">
          <h3 class="h4">Overview</h3>
          <p class="mb-1">Lorem tincidunt lectus vitae id vulputate diam quam. Imperdiet non scelerisque turpis sed etiam ultrices. Blandit mollis dignissim egestas consectetur porttitor. Vulputate dolor pretium, dignissim eu augue sit ut convallis. Lectus est, magna urna feugiat sed ultricies sed in lacinia. Fusce potenti sit id pharetra vel ornare. Vestibulum sed tellus ullamcorper arcu.</p>
          <div class="collapse" id="seeMoreOverview" #overviewcollapse="ngbCollapse" [(ngbCollapse)]="overviewColleaps">
            <p class="mb-1">Asperiores eos molestias, aspernatur assumenda vel corporis ex, magni excepturi totam exercitationem quia inventore quod amet labore impedit quae distinctio? Officiis blanditiis consequatur alias, atque, sed est incidunt accusamus repudiandae tempora repellendus obcaecati delectus ducimus inventore tempore harum numquam autem eligendi culpa.</p>
          </div><a class="collapse-label collapsed" href="javascript:void(0);" (click)="overviewcollapse.toggle()"
          [attr.aria-expanded]="!overviewColleaps" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="seeMoreOverview"></a>
        </div>
        <!-- Property Details-->
        <div class="mb-4 pb-md-3">
          <h3 class="h4">Property Details</h3>
          <ul class="list-unstyled mb-0">
            <li><b>Type: </b>apartment</li>
            <li><b>Apartment area: </b>56 sq.m</li>
            <li><b>Built: </b>2015</li>
            <li><b>Bedrooms: </b>4</li>
            <li><b>Bathrooms: </b>2</li>
            <li><b>Parking places: </b>2</li>
            <li><b>Pets allowed: </b>cats only</li>
          </ul>
        </div>
        <!-- Amenities-->
        <div class="mb-4 pb-md-3">
          <h3 class="h4">Amenities</h3>
          <ul class="list-unstyled row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-1 mb-1 text-nowrap">
            <li class="col"><i class="fi-wifi mt-n1 me-2 fs-lg align-middle"></i>WiFi</li>
            <li class="col"><i class="fi-thermometer mt-n1 me-2 fs-lg align-middle"></i>Heating</li>
            <li class="col"><i class="fi-dish mt-n1 me-2 fs-lg align-middle"></i>Dishwasher</li>
            <li class="col"><i class="fi-parking mt-n1 me-2 fs-lg align-middle"></i>Parking place</li>
            <li class="col"><i class="fi-snowflake mt-n1 me-2 fs-lg align-middle"></i>Air conditioning</li>
            <li class="col"><i class="fi-iron mt-n1 me-2 fs-lg align-middle"></i>Iron</li>
            <li class="col"><i class="fi-tv mt-n1 me-2 fs-lg align-middle"></i>TV</li>
            <li class="col"><i class="fi-laundry mt-n1 me-2 fs-lg align-middle"></i>Laundry</li>
            <li class="col"><i class="fi-cctv mt-n1 me-2 fs-lg align-middle"></i>Security cameras</li>
          </ul>
          <div class="collapse" id="seeMoreAmenities" #amenitiescollapse="ngbCollapse" [(ngbCollapse)]="amenitiesColleaps">
            <ul class="list-unstyled row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-1 mb-1 text-nowrap">
              <li class="col"><i class="fi-no-smoke mt-n1 me-2 fs-lg align-middle"></i>No smocking</li>
              <li class="col"><i class="fi-pet mt-n1 me-2 fs-lg align-middle"></i>Cats</li>
              <li class="col"><i class="fi-swimming-pool mt-n1 me-2 fs-lg align-middle"></i>Swimming pool</li>
              <li class="col"><i class="fi-double-bed mt-n1 me-2 fs-lg align-middle"></i>Double bed</li>
              <li class="col"><i class="fi-bed mt-n1 me-2 fs-lg align-middle"></i>Single bed</li>
            </ul>
          </div><a class="collapse-label collapsed" href="javascript:void(0);" (click)="amenitiescollapse.toggle()"
          [attr.aria-expanded]="!amenitiesColleaps" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="seeMoreAmenities"></a>
        </div>
        <!-- Post meta-->
        <div class="mb-lg-5 mb-md-4 pb-lg-2 py-4 border-top">
          <ul class="d-flex mb-4 list-unstyled fs-sm">
            <li class="me-3 pe-3 border-end">Published: <b>Dec 9, 2020</b></li>
            <li class="me-3 pe-3 border-end">Ad number: <b>681013232</b></li>
            <li class="me-3 pe-3">Views: <b>48</b></li>
          </ul>
        </div>
        <!-- Reviews-->
        <div class="mb-4 pb-4 border-bottom">
          <h3 class="h4 pb-3"><i class="fi-star-filled mt-n1 me-2 lead align-middle text-warning"></i>4,9 (32 reviews)</h3>
          <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between"><a class="btn btn-outline-primary mb-sm-0 mb-3" href="javascript:void(0);" (click)="openReviewModal(reviewContent)" data-bs-toggle="modal"><i class="fi-edit me-1"></i>Add review</a>
            <div class="d-flex align-items-center ms-sm-4">
              <label class="me-2 pe-1 text-nowrap" for="reviews-sorting"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
              <select class="form-select" id="reviews-sorting" (click)="SortFilter();">
                <option>Newest</option>
                <option value="Atitle">Oldest</option>
                <option value="Dtitle">Popular</option>
                <option value="Arating">High rating</option>
                <option value="Drating">Low rating</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Review-->
        <div class="mb-4 pb-4 border-bottom" *ngFor="let data of aboutReviewData | sortBy:sortBy:sortField">
          <div class="d-flex justify-content-between mb-3">
            <div class="d-flex align-items-center pe-2"><img class="rounded-circle me-1" src="{{data.image}}" width="48" alt="Avatar">
              <div class="ps-2">
                <h6 class="fs-base mb-0">{{data.title}}</h6>
                <span class="star-rating">
                  <ngb-rating [rate]="data.rating" [readonly]="true" [max]="5" class="stars"></ngb-rating>
                </span>
              </div>
            </div><span class="text-muted fs-sm">{{data.date}}</span>
          </div>
          <p>{{data.content}}</p>
          <div class="d-flex align-items-center">
            <button class="btn-like" type="button"><i class="fi-like"></i><span>({{data.like}})</span></button>
            <div class="border-end me-1">&nbsp;</div>
            <button class="btn-dislike" type="button"><i class="fi-dislike"></i><span>({{data.unlike}})</span></button>
          </div>
        </div>

        <!-- Pagination-->
        <nav class="mt-2 mb-4" aria-label="Reviews pagination">
          <ul class="pagination">
            <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
            <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item d-none d-sm-block">...</li>
            <li class="page-item d-none d-sm-block"><a class="page-link" href="javascript:void(0);">8</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);" aria-label="Next"><i class="fi-chevron-right"></i></a></li>
          </ul>
        </nav>
      </div>
      <!-- Sidebar-->
      <aside class="col-lg-4 col-md-5 ms-lg-auto pb-1">
        <!-- Contact card-->
        <div class="card shadow-sm mb-4">
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between"><a class="text-decoration-none" routerLink="/vendor/properties"><img class="rounded-circle mb-2" src="assets/img/avatars/22.jpg" width="60" alt="Avatar">
                <h5 class="mb-1">Floyd Miles</h5>
                <div class="mb-1"><span class="star-rating"><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i><i class="star-rating-icon fi-star-filled active"></i></span><span class="ms-1 fs-sm text-muted">(45 reviews)</span>
                </div>
                <p class="text-body">Imperial Property Group Agent</p></a>
              <div class="ms-4 flex-shrink-0"><a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" href="javascript:void(0);"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle ms-2 mb-2" href="javascript:void(0);"><i class="fi-linkedin"></i></a></div>
            </div>
            <ul class="list-unstyled border-bottom mb-4 pb-4">
              <li><a class="nav-link fw-normal p-0" href="tel:3025550107"><i class="fi-phone mt-n1 me-2 align-middle opacity-60"></i>(302) 555-0107</a></li>
              <li><a class="nav-link fw-normal p-0" href="mailto:floyd_miles@email.com"><i class="fi-mail mt-n1 me-2 align-middle opacity-60"></i>floyd_miles@email.com</a></li>
            </ul>
            <!-- Contact form-->
            <form class="needs-validation" novalidate (ngSubmit)="validSubmit()" [formGroup]="validationform">
              <div class="mb-3">
                <input class="form-control" type="text" placeholder="Your name*" required formControlName="name" [ngClass]="{'is-invalid': submit && form['name'].errors}">
                <div class="invalid-feedback">Please enter your name!</div>
              </div>
              <div class="mb-3">
                <input class="form-control" type="email" placeholder="Email*" required formControlName="email" [ngClass]="{'is-invalid': submit && form['email'].errors}">
                <div class="invalid-feedback">Please provide valid email address!</div>
              </div>
              <input class="form-control mb-3" type="tel" placeholder="Phone">
              <div class="input-group mb-3">
                <input class="form-control date-picker rounded pe-5 flatpickr-input" type="text" mwlFlatpickr [altInput]="true" [convertModelValue]="true" placeholder="Choose date">
                <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
              </div>
              <textarea class="form-control mb-3" rows="3" placeholder="Message" style="resize: none;"></textarea>
              <div class="form-check mb-4">
                <input class="form-check-input" id="form-submit" type="checkbox" checked>
                <label class="form-check-label fs-sm" for="form-submit">Send news, tips and promos from Finder to my email.</label>
              </div>
              <button class="btn btn-lg btn-primary d-block w-100" type="submit">Send request</button>
            </form>
          </div>
        </div>
        <!-- Location (Map)-->
        <div class="pt-2">
          <div class="position-relative mb-2"><img class="rounded-3" src="assets/img/real-estate/single/map.jpg" alt="Map">
            <div class="d-flex w-100 h-100 align-items-center justify-content-center position-absolute top-0 start-0">
              <a class="btn btn-primary stretched-link" href="javascript:void(0);" (click)="openMapModal(content)" data-iframe="true" data-bs-toggle="lightbox"><i class="fi-route me-2"></i>Get directions</a></div>
          </div>
          <p class="mb-0 fs-sm text-center">28 Jackson Ave Long Island City, NY 67234</p>
        </div>
      </aside>
    </div>
  </section>

   <!-- Recently viewed-->
   <section class="container mb-5 pb-2 pb-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h2 class="h3">Recently viewed</h2><a class="btn btn-link fw-normal p-0" routerLink="/catalog/rent">View all<i class="fi-arrow-long-right ms-2"></i></a>
    </div>
    <div class="swiper default-swiper rounded">
      <swiper [config]="config">
        <div class="swiper-slide" *ngFor="let data of recentlyData">
          <!-- Item-->
          <div class="col p-2">
            <div class="card shadow-sm card-hover border-0 h-100">
              <div class="card-img-top card-img-hover"><a class="img-overlay" routerLink="/catalog/single-v1"></a>
                <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class="d-table badge bg-success mb-1">{{data.verified_btn}}</span><span class="d-table badge {{data.btn_color}}">{{data.btn}}</span></div>
                <div class="content-overlay end-0 top-0 pt-3 pe-3">
                  <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button" placement="left" ngbTooltip="Add to Wishlist"><i class="fi-heart"></i></button>
                </div><img src="{{data.image}}" alt="Image">
              </div>
              <div class="card-body position-relative pb-3">
                <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">{{data.sale}}</h4>
                <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link" routerLink="/catalog/single-v1">{{data.title}}</a></h3>
                <p class="mb-2 fs-sm text-muted">{{data.content}}</p>
                <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>{{data.price}}</div>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-center mx-3 pt-3 text-nowrap"><span class="d-inline-block mx-1 px-2 fs-sm">{{data.bad}}<i class="fi-bed ms-1 mt-n1 fs-lg text-muted"></i></span><span class="d-inline-block mx-1 px-2 fs-sm">{{data.bath}}<i class="fi-bath ms-1 mt-n1 fs-lg text-muted"></i></span><span class="d-inline-block mx-1 px-2 fs-sm">{{data.car}}<i class="fi-car ms-1 mt-n1 fs-lg text-muted"></i></span></div>
            </div>
          </div>
          <!-- Item-->
        </div>
      </swiper>
      <div class="swiper-pagination"></div>
    </div>
  </section>

   <!-- Review modal-->
 <ng-template #reviewContent role="document" let-modal>
  <div class="modal-header d-block position-relative border-0 pb-0 px-sm-5 px-4">
    <h3 class="modal-title mt-4 text-center">Leave a review</h3>
    <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body px-sm-5 px-4">
    <form class="needs-validation" novalidate (ngSubmit)="formSubmit()" [formGroup]="signUpform">
      <div class="mb-3">
        <label class="form-label" for="review-name">Name <span class='text-danger'>*</span></label>
        <input class="form-control" type="text" id="review-name" placeholder="Your name" required formControlName="name" [ngClass]="{'is-invalid': formsubmit && formData['name'].errors}">
        <div class="invalid-feedback">Please let us know your name.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="review-email">Email <span class='text-danger'>*</span></label>
        <input class="form-control" type="email" id="review-email" placeholder="Your email address" required formControlName="email" [ngClass]="{'is-invalid': formsubmit && formData['email'].errors}">
        <div class="invalid-feedback">Please provide a valid email address.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="review-rating">Rating <span class='text-danger'>*</span></label>
        <select class="form-select" id="review-rating" required formControlName="rating" [ngClass]="{'is-invalid': formsubmit && formData['rating'].errors}">
          <option value="" selected disabled>Choose rating</option>
          <option value="5 stars">5 stars</option>
          <option value="4 stars">4 stars</option>
          <option value="3 stars">3 stars</option>
          <option value="2 stars">2 stars</option>
          <option value="1 star">1 star</option>
        </select>
        <div class="invalid-feedback">Please rate the property.</div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="review-text">Review <span class='text-danger'>*</span></label>
        <textarea class="form-control" id="review-text" rows="5" placeholder="Your review message" required formControlName="message" [ngClass]="{'is-invalid': formsubmit && formData['message'].errors}"></textarea>
        <div class="invalid-feedback">Please write your review.</div>
      </div>
      <button class="btn btn-primary d-block w-100 mb-4" type="submit">Submit a review</button>
    </form>
  </div>
 </ng-template>

    <!-- Map modal-->
    <ng-template #content role="document" let-modal>
      <div class="modal-header text-end position-relative bg-dark border-0 px-4">
        <button class="btn-close btn-close-white me-1" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body p-0 bg-dark">
        <agm-map [latitude]="latitude" [longitude]="longitude" class="interactive-map rounded-3" style="height: 100%"></agm-map>
      </div>
     </ng-template>

  </main>
  <!-- Footer-->
<app-footer></app-footer>

