<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top" (window:scroll)="windowScroll()"></app-header>

  <!-- Page header-->
  <section class="bg-secondary py-5">
    <div class="container mb-md-2 mb-lg-4 py-5">
      <!-- Breadcrumbs-->
      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
      <!-- Page title-->
      <div class="col-lg-8 col-md-10 px-0">
        <h1 class="mb-4 pb-2">How can we help?</h1>
        <!-- Search form-->
        <form class="form-group rounded-pill">
          <input class="form-control" type="text" placeholder="What are you looking for?">
          <button class="btn btn-lg btn-primary rounded-pill px-sm-4 px-3" type="submit"><i class="fi-search me-sm-2"></i><span class="d-sm-inline d-none">Search</span></button>
        </form>
      </div>
    </div>
  </section>
  <!-- Page content-->
  <section class="position-relative bg-white rounded-xxl-4 mb-5 pt-3 pb-lg-5 zindex-5" style="margin-top: -30px;">
    <div class="container pt-2 pt-md-5">
      <!-- Help topics grid-->
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-lg-5 gy-md-4 gy-0 gx-4">
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3"><i class="fi-settings"></i></div>
              <h3 class="h4">Getting started</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Quis arcu euismod est, varius nisi?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Aliquam, commodo sed nibh?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Faucibus felis fames mauris dolor purus?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Odio diam, tellus facilisi?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Eu quisque libero, sed neque?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Lectus sed sit cursus amet, vitae tempor?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3"><i class="fi-file"></i></div>
              <h3 class="h4">Partnership</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Tincidunt molestie scelerisque?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Nunc, ipsum ut augue fusce ornare?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Velit, mauris amet feugiat condimentum mollis?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Lacus, sed fames mi cras id?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Adipiscing magna suspendisse?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Libero pellentesque ultricies maecenas?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-danger text-danger rounded-circle mb-3"><i class="fi-user"></i></div>
              <h3 class="h4">Account &amp; profile</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Cursus fusce volutpat tempor?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">A senectus auctor sodales gravida non elit?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Mauris accumsan vel rhoncus?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Cras nunc, semper lectus turpis?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Pulvinar sed morbi massa nulla dolor eget?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Bibendum mattis amet amet?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-success text-success rounded-circle mb-3"><i class="fi-security"></i></div>
              <h3 class="h4">Privacy &amp; security</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Privacy &amp; security</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Eu quam bibendum adipiscing leo?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Massa fermentum, eget nec elementum?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">In quis pulvinar amet morbi praesent?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Eros, dolor in consequat netus?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Quis gravida felis dui non gravida?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-danger text-danger rounded-circle mb-3"><i class="fi-credit-card"></i></div>
              <h3 class="h4">Transactions</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Nisl urna id aliquam sed vitae pellentesque?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Eu quam bibendum adipiscing leo?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Massa fermentum, eget nec elementum?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">In quis pulvinar amet morbi praesent?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Eros, dolor in consequat netus?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Quis gravida felis dui non gravida?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
        <!-- Topic-->
        <div class="col">
          <div class="card border-0 card-hover h-100">
            <div class="card-body icon-box pb-0">
              <div class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3"><i class="fi-dots-horisontal"></i></div>
              <h3 class="h4">More</h3><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Lacus eget amet blandit egestas?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Augue at donec molestie vulputate cum?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Viverra adipiscing nisl, lacus at et?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Sagittis dictum hendrerit faucibus malesuada?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Tempus est non sapien tempus?</a><a class="nav-link mb-2 p-0 fw-normal" routerLink="/pages/single-topic">Nunc est hendrerit volutpat nunc donec?</a>
            </div>
            <div class="card-footer pt-0 pb-4 border-top-0"><a routerLink="/pages/single-topic">View all</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us-->
  <section class="container mb-5 pb-lg-5">
    <div class="py-md-4 py-5 bg-secondary rounded-3">
      <div class="col-sm-10 col-11 d-flex flex-md-row flex-column align-items-center justify-content-between mx-auto px-0">
        <div class="order-md-1 order-2 text-md-start text-center" style="max-width: 524px;">
          <h2 class="mb-4 pb-md-3">Haven't found the answer? <br> We can help.</h2><a class="btn btn-lg btn-primary rounded-pill w-sm-auto w-100" routerLink="/pages/contacts">Contact us</a>
        </div><img class="order-md-2 order-1 ms-md-4" src="assets/img/city-guide/illustrations/support.svg" alt="Illustration">
      </div>
    </div>
  </section>

</main>

<!-- Footer-->
<app-footer></app-footer>

